@use 'utils/colors';
@import 'utils/_reset.css';
@import '@fortawesome/fontawesome-svg-core/styles.css';
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Lora&family=Marck+Script&display=swap');


@import 'utils/toggle';

@import 'components/navigation.scss';
@import 'components/main';
@import 'components/about';
@import 'components/galery';
@import 'components/boat';

html {
  height: 100vh;
  width: calc(100vw - (100vw - 100%));
  font-family: 'EB Garamond', serif;

  body {
    margin: 0;
    #root {
      main {
        margin: 0;
        object-fit: cover;
        object-position: 50% 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        position: static;
        height: 100vh;
        width: 100%;
        filter: brightness(0.75);
        overflow: hidden;
      }
    }
  }
}