#about {
  display: flex;
  align-items: center;
  justify-content: flex-end;

  #about_container {
    margin-right: 4rem;
    text-align: center;
    max-width: 45vw;
    max-height: 90vh;

    #about_subcontainer {
      position: relative;
      padding: 2rem;
      width: 100%;
      height: 100%;

      h1 {
        font-size: 3rem;
        margin: 2rem;
        font-family: fonts.$h1;
      }

      h2 {
        font-size: 1.8rem;
        margin: 2rem;
        font-family: fonts.$h2;
      }

      img {
        max-height: 40%;
      }

      p {
        line-height: 1.6rem;
        font-size: 1rem;
        margin: 1rem 0;
      }
    }
  }
}

@media (max-width: 1500px) {
  #about #about_container #about_subcontainer {
    img {
      max-width: 300px;
    }
  }
}

@media (max-width: 1300px) {
  #about #about_container {
    max-width: 55vw;
    margin-right: 2rem;

    #about_subcontainer {
      padding: 1rem;
      h1 {
        margin: 1rem;
        font-size: 2.5rem;
      }

      h2 {
        margin: 1rem;
      }

      p {
        margin: 0.3rem 0;
      }
    }
  }
}

@media (max-width: 1000px) {
  #about #about_container {
    max-width: 60vw;
  }
}

@media (max-width: 850px) {
  #about {
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 10vh;

    #about_container {
      width: 100%;
      max-width: none;
      max-height: 75vh;
      margin: 0;
      bottom: 40px;
      position: sticky;
      overflow: auto;

      #about_subcontainer {
        width: 100%;
      }
    }
  }
}

@media (max-width: 550px) {
  #about #about_container #about_subcontainer {
    img {
      max-width: 200px;
    }
  }
}

@media (max-width: 430px) {
  #about #about_container {
    max-height: 60vh;
    overflow-y: scroll;

    #about_subcontainer {
      h1 {
        font-size: 2rem;
        margin: 0.5rem;
      }

      h2 {
        margin: 0.5rem;
        font-size: 1.3rem;
      }
    }
  }
}
