#boat {
  display: flex;
  align-items: center;
  padding: 3rem 5rem;

  #boat_container {
    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(7, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    width: 100%;
    height: 100%;

    & > * {
      object-fit: cover;
      object-position: 50% 50%;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      border: 1px solid colors.$white-xs--tsp;
    }

    .element-content {
      width: 100%;
      height: auto;
      color: colors.$white-xs--tsp;
      background: colors.$black-lt--tsp;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      text-align: center;

      h1 {
        font-size: 2.3rem;
        margin: 1rem auto;
        font-family: fonts.$h1;
        width: 100%;
      }

      h2 {
        font-size: 1.2rem;
        margin-bottom: 0.5rem;
        width: 90%;
      }

      h3 {
        font-size: 1.2rem;
        font-family: "Lora", serif;
        vertical-align: middle;
        padding: 1.5rem;
      }
    }

    #boat_welcome {
      grid-area: 4 / 1 / 8 / 8;
      display: flex;
      align-items: flex-start;
    }

    #boat_sunshade {
      grid-area: 4 / 8 / 8 / 12;
      display: flex;
      align-items: flex-end;
    }

    #boat_change-room {
      grid-area: 1 / 8 / 4 / 12;
      display: flex;
      align-items: flex-end;
    }

    #boat_door {
      grid-area: 1 / 4 / 4 / 8;
    }
  }
}

@media (max-width: 1150px) {
  #boat {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 1rem  0 1rem 20rem ;

    #boat_container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      & > * {
        width: 45%;
        min-width: 350px;
      }

      .element-content {
        h1 {
          font-size: 2rem;
          margin: 1rem;
        }
    
        h2 {
          font-size: 1rem;
        }
    
        h3 {
          font-size: 1rem;
          padding: 1rem;
        }
      }
    }
    
  }
}

@media (max-width: 1030px) {
  #boat {
    padding-right: 1rem;

    #boat_container .element-content h1 {
      font-size: 1.3rem;
    }
  }
}

@media (max-width: 850px) {
  #boat {
    padding: 20vh 0 0 0;

    #boat_container {
    overflow-y: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding-bottom: 40px;

      & > * {
        width: 70%;
        height: 50%;
        min-width: none;
      }

      .element-content {
        h1 {
          font-size: 1rem;
          margin: 1rem;
        }

        h2 {
          font-size: 1rem;
        }

        h3 {
          font-size: 1rem;
          padding: 1rem;
        }
      }
    }
  }
}
