#boat {
  display: flex;
  align-items: center;
  padding: 3rem 5rem;
}

#boat_container {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(7, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;
  width: 100%;
  height: 100%;

  & > * {
    object-fit: cover;
    object-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 1px solid colors.$white-xs--tsp;
  }

  .hovered {
    .element-content {
      height: 45%;
    }
  }

  .element-content {
    width: 100%;
    height: 25%;
    color: colors.$white-xs--tsp;
    text-align: center;
    background: colors.$black-lt--tsp;

    h1 {
      font-size: 3rem;
      margin: 2rem;
      font-family: fonts.$h1;
    }

    h2 {
      font-size: 1.2rem;
    }

    h3 {
      font-size: 1.5rem;
      font-family: "Lora", serif;
      vertical-align: middle;
      padding: 1.5rem;
    }
  }

  #boat_welcome {
    grid-area: 4 / 1 / 8 / 8;
    display: flex;
    align-items: flex-start;
  }

  #boat_sunshade {
    grid-area: 4 / 8 / 8 / 12;
    display: flex;
    align-items: flex-end;
  }

  #boat_change-room {
    grid-area: 1 / 8 / 4 / 12;
    display: flex;
    align-items: flex-end;
  }

  #boat_door {
    grid-area: 1 / 4 / 4 / 8;
  }
}

.hoverable-element .element-content h2 {
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.5s, transform 0.5s;
}

.hoverable-element.hovered .element-content h2 {
  opacity: 1;
  transform: translateY(0);
}

.hoverable-element.hovered .element-content {
  opacity: 1;
  transform: translateY(0);
}
