#eat {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .eat_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;
    height: 95vh;
    width: 95vw;
    margin-right: 5vw;

    & > * {
      .restaurant {
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;

        .restaurant_name {
          font-family: fonts.$h2;
          text-transform: capitalize;
          font-size: 1.6rem;
          margin: 3rem 0 1rem 0;
          max-width: 50%;
        }

        .icons {
          font-size: 2rem;
        }

        .picture {
          width: 230px;
          height: 230px;
          display: block;
          margin-bottom: 0;
          position: absolute;
        }

        .restaurants_elements {
          margin: 0.8rem 0;
        }
      }
    }

    .restaurant_sao-pedro {
      grid-area: 1 / 2 / 2 / 3;

      .restaurant {
        align-items: flex-start;
        padding-left: 3rem;
      }

      img {
        border-radius: 50rem 0 0 0;
        bottom: 0;
        right: 0;
        border-top: colors.$blue-lt 2px solid;
        padding-top: 0.3rem;
        padding-left: 0.3rem;
      }
    }

    .restaurant_xares-monsarez {
      grid-area: 1 / 3 / 2 / 4;

      .restaurant {
        align-items: flex-end;
        text-align: end;
        padding-right: 3rem;
      }

      img {
        border-radius: 0 50rem 0 0;
        bottom: 0;
        left: 0;
        border-top: colors.$blue-lt 2px solid;
        padding-top: 0.3rem;
        padding-right: 0.3rem;
      }
    }

    .restaurant_liberato-moura {
      grid-area: 2 / 3 / 3 / 4;

      .restaurant {
        align-items: flex-end;
        justify-content: flex-end;
        text-align: end;
        padding-right: 3rem;
      }

      img {
        border-radius: 0 0 50rem 0;
        top: 0;
        left: 0;
        border-bottom: colors.$blue-lt 2px solid;
        padding-bottom: 0.3rem;
        padding-right: 0.3rem;
      }
    }

    .restaurant_aficionado-amieira {
      grid-area: 2 / 2 / 3 / 3;

      .restaurant {
        align-items: flex-start;
        justify-content: flex-end;
        padding-left: 3rem;
      }

      img {
        border-radius: 0 0 0 50rem;
        top: 0;
        right: 0;
        border-bottom: colors.$blue-lt 2px solid;
        padding-bottom: 0.3rem;
        padding-left: 0.3rem;
      }
    }

    .eat_title {
      grid-area: 2 / 1 / 3 / 2;
      border: none;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      font-family: fonts.$h1;
      text-transform: capitalize;
      font-size: 2.5rem;
      color: colors.$white-xs--tsp;
      text-align: right;
    }
  }
}

@media (max-width: 1450px) {
  #eat .eat_container {
    margin-right: 1rem;

    .card_border .restaurant .restaurants_elements {
      margin: 0.2rem;
    }
  }
}

@media (max-width: 1200px) {
  #eat .eat_container {
    display: flex;
    flex-direction: column-reverse;
    width: 70%;
    margin-top: 1rem;
    overflow-y: auto;

    .card_border {
      .card_background {
        height: 230px;
        justify-content: center;

        .restaurant_name {
          margin: 1rem 0;
        }

        .picture {
          padding: 0;
          border: none;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  #eat .eat_container {
    width: 95%;
    margin-top: 370px;
  }
}

@media (max-width: 570px) {
  #eat .eat_container {
    .card_border {
      .card_background {
        height: 230px;
        justify-content: space-evenly;
        align-items: center;
        padding: 0;

        .restaurant_name {
          margin: 0;
          text-align: center;
        }
      }
    }

    .eat_title {
      text-align: center;
    }
  }
}
