footer {
  position: absolute;
  z-index: 9999;
  bottom: 0;
  margin-bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  text-align: center;
  color: colors.$white-xs--tsp;
  background-color: colors.$black-lt--tsp;
  display: flex;
  justify-content: space-between;
  align-items: center;

  div {
    display: flex;
    align-items: center;

    img {
      max-width: 20px;
      margin: 0 1rem;
    }
  }

  .footer_alqueva {
    font-weight: bold;
    margin-bottom: 0.3rem;
    margin-top: 0.3rem;
  }

  .footer_legal {
    padding-bottom: 0.2rem;
    font-size: 0.8rem;
  }
}

@media (max-width: 1040px) {
  footer .footer_alqueva {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
}

@media (max-width: 850px) {
  footer .footer_alqueva {
    font-size: 0.8rem;
    margin-bottom: 0;
  }
}

@media (max-width: 530px) {
  footer {
    .footer_legal {
      font-size: 0.5rem;
    }
    .footer_alqueva {
      font-size: 0.8rem;
      margin-bottom: 0;
    }
  }
}
