#navigation {
  z-index: 99;
  position: absolute;

  a {
    text-decoration: none;
    color: inherit;
  }

  #logo {
    height: 270px;
    width: 270px;
    background-color: colors.$white-xs--tsp;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
  }

  img {
    max-width: 180px;
    height: auto;
  }

  nav {
    top: 100;
    left: 0;
    position: absolute;
    margin: auto;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;

    ul {
      list-style-type: none;
      border: 1px solid colors.$white-xs--tsp;
      background-color: colors.$white-xs--tsp;

      & > * {
        cursor: pointer;
        margin: 1.5rem 0.7rem;
        transition: 0.2s ease, transform 0.2s ease;

        .active {
          color: colors.$green-lg;
        }

        &.hovered {
          transform: scale(1.1);
          margin-left: 1rem;
          margin-right: 1rem;
        }

        .iconNav {
          font-size: 1.5rem;
          vertical-align: middle;
          width: 30px;
        }

        span {
          margin-left: 1rem;
        }
      }
    }
  }
}

@media (max-width: 850px) {
  #navigation {
    width: 100vw;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;

    #logo {
      height: 100px;
      width: 100px;
      margin-top: 1rem;

      img {
        height: 90px;
      }
    }

    nav {
      top: o;
      left: 0;
      position: relative;
      margin: 0;
      height: 100%;
      width: 100vw;
      display: flex;
      align-items: center;

      ul {
        display: flex;
        border-radius: 0;
        width: 100vw;
        justify-content: space-evenly;

        & > * {
          cursor: pointer;
          margin: 0.5rem 0.3rem;
          transition: 0.2s ease, transform 0.2s ease;
          position: relative;
          display: flex;
          align-items: center;

          &.hovered {
            transform: scale(1.1);
          }

          #toggle {
            display: flex;
            flex-direction: column;
          }

          .iconNav {
            font-size: 1.2rem;
            vertical-align: middle;
            width: 20px;
          }

          span {
            display: none;
          }
        }
      }
    }
  }
}

@media (max-width: 400px) {
  #navigation nav ul .iconNav {
    width: 15px;
  }
}