#sleep {
  display: flex;
  justify-content: flex-end;
  align-items: center;

  .sleep_element {
    width: 33vw;
    max-height: 95vh;
    height: 100%;
    margin: 5px;

    .sleep_container {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      .sleep_content {
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 1rem;
        vertical-align: middle;

        .social_network-logo {
          width: 30px;
        }

        .sleep_content-title {
          font-size: 2rem;
          text-align: center;
          font-family: fonts.$h1;
        }
      }

      .sleep_pictures {
        height: 70%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;

        & > * {
          margin: 0.3rem;
        }

        .picture_container {
          display: flex;
          justify-content: space-between;
          align-items: center;
          text-align: center;

          img {
            max-width: 50%;
            max-height: 25rem;
          }

          p {
            width: 100%;
            color: colors.$white-xs--tsp;
          }
        }
      }

      .herdade_pictures {
        justify-content: flex-start;
      }

      .herdade_content {
        height: 50%;
      }
    }
  }
}

@media (max-width: 1200px) {
  #sleep .sleep_element {
    height: 85%;
  }
}

@media (max-width: 1000px) {
  #sleep .sleep_element .sleep_container {
    .sleep_content .sleep_content-title {
      font-size: 1.5rem;
    }
    .sleep_pictures .pictures_border .picture_container {
      flex-direction: column;

      img {
        max-width: 55%;
        margin: 0.5rem auto;
      }

      p {
        order: 1;
      }
    }
  }
}

@media (max-width: 850px) {
  #sleep {
    justify-content: center;

    .sleep_element {
      width: 90vw;
      margin-top: 400px;
      margin-bottom: 100px;
    }
  }
}

@media (max-width: 680px) {
  #sleep {
    height: 50vh;
    flex-direction: column;

    .sleep_element {
      margin-top: 1rem;
      margin-bottom: 0;
      height: auto;

      &:first-child {
        margin-top: 1100px;

        .sleep_pictures {
          margin-top: 30px;
        }
      }

      &:last-child {
        margin-bottom: 50px;

        .sleep_content {
          margin-top: 40px;
        }
      }
    }
  }
}
