#tour {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 2rem 2rem 1rem 5rem;
  position: relative;

  #tour_container {
    overflow-y: auto;
    max-height: 100%;
    flex: 1;
    max-width: 75%;

    & > * {
      margin-bottom: 0.5rem;
    }

    .tour_element {
      display: flex;
      flex: 1;
      justify-content: space-between;

      .tour_inside {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .tour_type {
          background-color: colors.$green-lt;
          width: 100%;
          text-align: center;
          color: colors.$white-xs;
          font-weight: bold;
          padding: 0.5rem;
          font-family: fonts.$h1;
          text-transform: uppercase;
          font-size: 1rem;
          letter-spacing: 0.1rem;
        }

        .tour_title {
          font-family: fonts.$h2;
          font-size: 1.7rem;
          margin: 0.4rem auto;
        }

        .tour_duration {
          font-family: fonts.$h2;
          font-size: 1.3rem;
          margin-bottom: 1rem;
        }

        .tour_content {
          margin-bottom: 0.3rem;
          text-align: center;
        }

        .tour_price {
          margin: 1rem auto;
          text-align: center;
          padding: 0.5rem;
          border: colors.$green-lt 1px solid;
          width: 80%;
          line-height: 1.2rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
        }

        .tour_included {
          margin-bottom: 1rem;
        }
      }
    }

    .picture_left {
      flex-direction: row-reverse;
    }

    .tour_picture {
      flex: 0;
    }
  }
}

@media (max-width: 1440px) {
  #tour {
    padding: 2rem 0.5rem 0.5rem 5.5rem;
    justify-content: flex-end;
  }
}

@media (max-width: 850px) {
  #tour {
    padding: 0;
    padding-top: 12rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;

    #tour_container {
      padding-bottom: 10rem;
      display: flex;
      flex-direction: column;
      overflow-y: auto;
    }
  }
}

@media (max-width: 550px) {
  #tour #tour_container {
    max-width: 90%;
  }
}
