// BACKGROUND COLORS
$white-xs--tsp: #f3f3f3cc;
$white-xs: #f3f3f3;
$blue-lg--tsp: #094da6d5;
$blue-lt: #52afe6;
$blue-lg: #094da6;
$green-lg: #05692f;
$green-lt: #279b57;
$black-lt--tsp: rgb(0, 0, 0, 0.726);
$black-lg--tsp: rgba(0, 0, 0, 0.822);
